<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel ="stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Познаю Spring Boot</title>
</head>
<body>

<header th:insert = "blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="element : ${post}" class="alert alert-info mt-5">
        <h1  th:text="${element.title}"/>
        <p th:text="${element.fullText}"/>

        <p><b>Просмотров</b> <span th:text="${element.views}"></span></p>

       <!-- <p th:text="${element.views}"/>-->

        <a th:href="'/blog/' + ${element.id}  + '/edit'" class="btn btn-warning">Редактировать</a>
        <a th:href="'/blog/' + ${element.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

<!--<h1>Привет Spring</h1>
<p th:text="'Я ' + ${name}" />-->

</body>
</html>